<h1><%= @title %></h1>

<img class="detailimage" src=<%= @webImage %>
<div class="detaildescription">
<p><%= @principalMaker %></p>
<p><%= @label %></p>
<p><%= @subject %></p>
<p><%= @colors %></p>
</div>
