<div class="resultCanvas">
  <h1><%= @title %></h1>
  <h2>Artist: <%= @principalMaker %></h2>

  <div class="detailimageresult">
    <a href=<%= @webImage %>>
      <img class="detailimage" src=<%= @webImage %> alt="Small size artwork">
    </a>
  </div>

  <div class="collections_box">

    <form action="/artobjects_tag" method="post">
      <fieldset>
        <legend>Add this artwork to a collection.</legend>
          <div>
            <input type="radio" name="stubby">
            <label for="stubby">Stubby holder</label>

            <input type="radio" name="tshirt">
            <label for="tshirt">T-Shirt</label>

            <input type="radio" name="artprint">
            <label for="artprint">Art Print</label>
          </div>
          <div>
            <button type="submit">Submit</button>
          </div>
      </fieldset>
    </form>

    <form action="/artobjects_favourite" method="post">
      <button>Add to favourites</button>
    </form>
  </div>

  <div class="detaildescription">
  <p>Description: <%= @label %></p>
  </div>
</div>
