<div class="resultCanvas">
  <h1><%= @title %></h1>
  <h2>Artist: <%= @principalMaker %></h2>

  <div class="detailimageresult">
    <a href=<%= @webImage %>>
      <img class="detailimage" src=<%= @webImage %> alt="Small size artwork">
    </a>
  </div>

  <div class="collections_box">

    <form action="/artobjects_tag" method="post">
      <fieldset>
        <legend>Add this artwork to a collection.</legend>
          <div>
            <input type="hidden" name="objectnumber" value="<%=@objectnumber%>">

            <input type="radio" value="stubby holder" name="tag">
            <label for="stubby">Stubby holder</label>

            <input type="radio" value="t-shirt" name="tag">
            <label for="tshirt">T-Shirt</label>

            <input type="radio" value="art print "name="tag">
            <label for="artprint">Art Print</label>
          </div>
          <div>
            <button type="submit">Submit</button>
          </div>
      </fieldset>
    </form>
    <% if logged_in? %>
      <form action="/artobjects_favourite" method="post">
        <button>Add to favourites</button>
      </form>
    <% end %>
      </div>

  <div class="detaildescription">
  <p>Description: <%= @label %></p>
  </div>
</div>
