<h1>Favourites page</h1>

<div class="results">
  <ul style="list-style: none;">
  <% @favourites_for_current_user.each do |artobject| %>
      <li class="short_description">
        <a href="/detail?objectnumber=<%=artobject[:objectnumber]%>">
        <img class="thumbnail" src="<%=artobject[:webimage]%>">
          <%=artobject[:title]%> by <%=artobject[:principalmaker]%>
        </a>
        <form action="/favourites/<%= artobject[:id] %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>delete</button>
        </form>
      </li>
  <% end %>
  </ul>
</div>
