<h1><%= @tag_label%> art works</h1>

<div class="results">
  <ul style="list-style: none;">
  <% @tagresults.each do |artobject| %>
      <li class="short_description">
        <div class="resultimage">
        <a href="/detail?objectnumber=<%=artobject[:objectnumber]%>">
        <img class="thumbnail" src="<%=artobject[:webimage]%>">
        </a>
        <div class="resultlabel">
          <%=artobject[:title]%> by <%=artobject[:principalmaker]%>
        </div>

      </li>
  <% end %>
  </ul>
</div>
